.navbar {
    position: absolute;
    top: 0;
    width: 95%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background: transparent;
}

.navbar-logo {
    width: 160px;
}

.navbar-links {
    display: flex;
    gap: 30px;
    align-items: center;
    font-weight: 500;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 0.95rem;
}

.navbar-links a:hover {
    text-decoration: underline;
}

.navbar-socials a {
    margin-left: 15px;
    font-size: 1rem;
    color: white;
}

.navbar-socials a:hover {
    opacity: 0.7;
}